# Elixir CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-elixir/ for more details
version: 2
jobs:
  build:
    parallelism: 1
    docker:
      # specify the version here
      - image: circleci/elixir:1.9
        environment:
          MIX_ENV: dev mix dialyzer
          GOOGLE_APPLICATION_CREDENTIALS: e-players6814-41b52d33988e.json
      - image: circleci/postgres:10.1-alpine
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: milk_test
          POSTGRES_PASSWORD: postgres
      - image: redis:latest
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo/milk
    steps:
      - checkout: 
          path: ~/repo

      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix do deps.get, compile
      - run: mix ecto.create
      - run: 
          name: Run Tests
          command: mix test
          no_output_timeout: 30m
